<div class="meter-group">
  <div class="label roboto-condensed-upper">
    <span>{{localize "ZHELL.PIETY.label"}}</span>
    {{#if editable}}
    <button type="button" class="config-button unbutton" data-action="showPietyConfiguration" data-tooltip="" aria-label="{{localize 'ZHELL.PIETY.CONFIG.title'}}">
      <i class="fa-solid fa-cog" inert></i>
    </button>
    {{/if}}
  </div>
  <div class="meter piety progress" role="meter" style="--bar-percentage: {{pct}}%;">
    <div class="label">
      <span class="value">{{piety.value}}</span>
    </div>
    <input type="text" name="flags.zhell-custom-stuff.piety.value" data-dtype="Number" placeholder="1" value="{{piety.value}}" hidden="">
  </div>
</div>
