<div class="content">

  <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
    {{#each classes}}
    <a class="item" data-tab="{{identifier}}">{{name}}</a>
    {{/each}}
  </nav>

  <div class="content-tabs">
    {{#each classes}}

    <div class="tab" data-tab="{{identifier}}">
      <section class="class-section">
        <img class="class-image" src="{{img}}">
        <div class="class-item">
          <a class="content-link" draggable="true" data-uuid="{{uuid}}" data-id="{{id}}" data-pack="{{pack}}">
            {{name}}
          </a>
        </div>
      </section>

      <section class="subclass-section collapsible active">
        <h2 data-action="toggle-collapse">{{subclassLabel}}</h2>
        <div class="subclass-list collapsible-content">
          {{#each subclassIds}}
          <div class="subclass-item">
            <a class="content-link" draggable="true" data-uuid="{{uuid}}" data-id="{{id}}" data-pack="{{pack}}">
              {{name}}
            </a>
          </div>
          {{/each}}
        </div>
      </section>

      {{#if hasSpells}}
      <section class="spell-section">
        <div class="spell-lists">
          {{#each spellLists}}
          {{#if spells.length}}
          <section class="spell-list collapsible active">
            <h3 data-action="toggle-collapse">{{label}}</h3>
            <div class="collapsible-content">
            {{#each spells}}
            <div class="spell" data-uuid="{{uuid}}">
              <a class="content-link" draggable="true" data-uuid="{{uuid}}" data-id="{{id}}" data-pack="{{pack}}">
                <i class="fas fa-wand-magic-sparkles"></i> {{name}}
              </a>
              <a data-action="toggle-description" data-tooltip="Toggle Details">
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
            {{/each}}
            </div>
          </section>
          {{/if}}
          {{/each}}
        </div>
      </section>
      {{/if}}
    </div>
    {{/each}}
  </div>

</div>
