<div class="content">

  <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
    {{#each classes}}
    <a class="item" data-tab="{{identifier}}">{{name}}</a>
    {{/each}}
  </nav>

  <div class="content-tabs">
    {{#each classes}}

    <div class="tab" data-tab="{{identifier}}">
      <div class="class-section">
        <img class="class-image" src="{{img}}">
        <div class="class-item">
          <a class="content-link" draggable="true" data-uuid="Compendium.{{pack}}.{{id}}" data-id="{{id}}" data-pack="{{pack}}">
            {{name}}
          </a>
        </div>
      </div>

      <div class="subclass-section">
        <h2 class="subclass-header">{{name}} Subclasses</h2>
        <div class="subclass-list">
          {{#each subclassIds}}
          <div class="subclass-item">
            <a class="content-link" draggable="true" data-uuid="Compendium.{{pack}}.{{id}}" data-id="{{id}}" data-pack="{{pack}}">
              {{name}}
            </a>
          </div>
          {{/each}}
        </div>
      </div>

      {{#if hasSpells}}
      <div class="spell-section">
        <h2 class="spell-header">{{name}} Spells</h2>
        <div class="spell-lists">
          {{#each spellLists}}
          {{#if spells.length}}
          <div class="spell-list">
            <h3 class="spell-list-header">{{label}}</h3>
            {{#each spells}}
            <div class="spell" data-uuid="Compendium.{{pack}}.{{id}}">
              <a class="content-link" draggable="true" data-uuid="Compendium.{{pack}}.{{id}}" data-id="{{id}}" data-pack="{{pack}}">
                <i class="fas fa-wand-magic-sparkles"></i> {{name}}
              </a>
              <a data-action="toggle-description" data-tooltip="Toggle Details">
                <i class="fa-solid fa-plus"></i>
              </a>
            </div>
            {{/each}}
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>

</div>
