<div id="bossbar" class="zhell-custom-stuff bossbar" style="right: {{right}};" data-scene-id="{{sceneId}}">
  <div class="bar">
    <span class="progress" style="background-color: {{color}}; width: {{percent}};"></span>
    <span class="name">{{name}}</span>
  </div>
  <div class="title">{{#if title}}{{title}}{{/if}}</div>
</div>
