<div class="content">
  <div class="selections">
    {{#if rows.top.length}}
    <div class="row top">
      {{#each rows.top}}<a data-name="{{name}}"><img src="{{src}}"></a>{{/each}}
    </div>
    {{/if}}

    {{#if rows.middle.length}}
    <div class="row middle">
      {{#each rows.middle}}<a data-name="{{name}}"><img src="{{src}}"></a>{{/each}}
    </div>
    {{/if}}

    {{#if rows.bottom.length}}
    <div class="row bottom">
      {{#each rows.bottom}}<a data-name="{{name}}"><img src="{{src}}"></a>{{/each}}
    </div>
    {{/if}}
  </div>
  <div class="footer">
    <button><i class="fa-solid fa-check"></i> {{label}}</button>
  </div>
</div>
