<form class="flexcol" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-tooltip="{{item.name}}" height="64" width="64">
    <h1><input type="text" value="{{item.name}}" disabled></h1>
  </header>

  <div class="form-group stacked">
    <label>{{localize "ZHELL.ApiMethod"}}</label>
    <select name="api">
      {{selectOptions options selected=selected labelAttr="label" nameAttr="value" sort=true blank="- Use API Method? -"}}
    </select>
  </div>

  <div class="form-group stacked command">
    <label>{{localize "Command"}}</label>
    <textarea name="command" {{disabled disableText}}>{{command}}</textarea>
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit">
      <i class="fas fa-save"></i> {{localize "Save"}}
    </button>
  </footer>
</form>
