<div class="result">
  <div class="type" data-tooltip="{{type}}">{{type}}</div>
  <div class="formula" data-tooltip="{{formula}}">({{total}}) {{formula}}</div>
  <a class="add-forageables {{#if success}}active{{/if}}"><i class="fa-solid fa-check"></i></a>
</div>
