<div class="content">
  <nav class="sheet-tabs tabs" aria-role="Form Tab Navigation">
    <a class="item" data-tab="forage"><i class="fa-solid fa-leaf"></i> Foraging</a>
    {{#each itemTypes}}
    <a class="item" data-tab="{{type}}"><i class="fa-solid fa-flask"></i> {{localize label}}</a>
    {{/each}}
  </nav>

  <div class="content-tabs">
    <div class="tab" data-tab="forage">
      <div class="description">{{{localize "ZHELL.CraftingDescriptionForaging" dc=targetValue max=maxRolls}}}</div>
      <form class="dnd5e">
        <div class="form-group">
          <label>Select skill or tool:</label>
          <div class="form-fields">
            <select id="forage-tool">
              {{selectOptions forageOptions nameAttr="id" labelAttr="label"}}
            </select>
          </div>
        </div>
      </form>
      <div class="foraging">
        <button id="forage-initiate"><i class="fa-solid fa-leaf"></i> Forage!</button>
        <div class="results"></div>
        <button id="forage-accept"><i class="fa-solid fa-boxes-stacked"></i> Accept</button>
      </div>
    </div>

    {{#each itemTypes}}
    <div class="tab" data-tab="{{type}}" editable="{{editable}}">
      <div class="description">{{localize "ZHELL.CraftingDescriptionPotions"}}</div>
      {{#if (eq type "poison")}}
      <form class="dnd5e">
        <div class="form-group">
          <label>Delivery Method</label>
          <div class="form-fields">
            <select data-action="delivery-method">
              {{selectOptions ../poisonOptions selected=../methodOption labelAttr="label"}}
            </select>
          </div>
        </div>
      </form>
      {{/if}}
      <div class="selections">
        {{#each items}}
        <div class="selection">
          <div class="item" data-item-id="{{item.id}}">
            <button data-action="craft">{{item.name}}</button>
            {{#if scales}}
            <select class="scale-option">
              {{selectOptions options selected=selected}}
            </select>
            {{/if}}
          </div>
          <div class="item-description">{{{item.system.description.value}}}</div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
