<div class="content">
  <a data-action="change-denom">
    <span>Spending:</span>
    <span>{{displayValue}} {{denom}}</span>
  </a>

  <div class="currencies">
    {{#each currencies}}
    <div class="currency" data-denom="{{key}}">
      <button data-action="adjust" data-dir="1" {{disabled disableUp}}>
        <i class="fa-solid fa-arrow-up"></i>
      </button>
      <span class="spent">{{spent}}</span>
      <a class="label" data-action="set-denom">{{abbreviation}}</a>
      <button data-action="adjust" data-dir="-1" {{disabled disableDown}}>
        <i class="fa-solid fa-arrow-down"></i>
      </button>
      <span class="remaining">({{remaining}})</span>
    </div>
    {{/each}}
  </div>

  <div class="footer">
    <button data-action="submit">
      <i class="fa-solid fa-coins"></i> {{localize "Save"}}
    </button>
  </div>
</div>
