<div class="content">
  {{#each features}}
  <button data-action="{{key}}" data-tooltip="{{tooltip}}" data-tooltip-direction="LEFT">
    <i class="{{icon}}"></i>
    <label>
      <span class="name">{{label}}</span>
      <span class="uses">{{uses.value}} / {{uses.max}}</span>
    </label>
  </button>
  {{/each}}

  {{#if isGM}}
  <button data-action="reset">
    <i class="fa-solid fa-undo"></i> <label>Reset</label>
  </button>
  {{/if}}

  <button data-action="close">
    <i class="fa-solid fa-times"></i> <label>Close</label>
  </button>
</div>
