<form class="flexcol">
  <div class="form-group">
    <label for="removeResources">Remove Resources</label>
    <div class="form-fields">
      <input name="removeResources" type="checkbox" {{checked removeResources}}>
    </div>
    <p class="notes">Remove the resources from the core sheet. They still function, but will not show up.</p>
  </div>
  <div class="form-group">
    <label for="removeAlignment">Remove Alignment Field</label>
    <div class="form-fields">
      <input name="removeAlignment" type="checkbox" {{checked removeAlignment}}>
    </div>
    <p class="notes">Remove the alignment field from the top of the core sheet.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="disableInitiativeButton">Disable Initiative Button</label>
    <div class="form-fields">
      <input name="disableInitiativeButton" type="checkbox" {{checked disableInitiativeButton}}>
    </div>
    <p class="notes">Disable use of the Initiative header on the core sheet.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="createForaging">Create Foraging</label>
    <div class="form-fields">
      <input name="createForaging" type="checkbox" {{checked createForaging}}>
    </div>
    <p class="notes">Create a counter on the core sheet to track the quantity of foraged materials.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="reformatTraitSelectors">Reformat Trait Selectors</label>
    <div class="form-fields">
      <input name="reformatTraitSelectors" type="checkbox" {{checked reformatTraitSelectors}}>
    </div>
    <p class="notes">Make the language, resistances, and proficiency selectors less of an eye-sore.</p>
  </div>
  <div>
    <hr>
  </div>
  <div class="form-group">
    <label for="collapsibleHeaders">Collapsible Headers</label>
    <div class="form-fields">
      <input name="collapsibleHeaders" type="checkbox" {{checked collapsibleHeaders}}>
    </div>
    <p class="notes">Makes the headers on the sheet collapsible.</p>
  </div>
  <div>
    <hr>
  </div>

  <header>
    <button type="submit" name="submit">
      <i class="fa-solid fa-save"></i> Save Settings
    </button>
  </header>
</form>
