<form>
  <h2>{{localize "ZHELL.PartyFeaturesActor"}}</h2>
  <p class="notes">{{localize "ZHELL.PartyFeaturesActorHint"}}</p>
  <div class="form-group">
    <label>{{localize "ZHELL.PartyFeaturesActorLabel"}}</label>
    <div class="form-fields">
      <input type="text" name="partyFeatures.actorId" value="{{partyFeatures.actorId}}">
    </div>
  </div>

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>
</form>
