<form>
  {{#each checks}}
  <div class="form-group">
    <label for="{{id}}">{{localize name}}</label>
    <div class="form-fields">
      <input type="checkbox" name="checks.{{id}}" id="{{id}}" {{checked value}}>
    </div>
    <p class="notes">{{localize hint}}</p>
  </div>
  {{/each}}

  <h2>{{localize "ZHELL.SettingsMenuColorSettingsName"}}</h2>
  {{#each sheetColors}}
  <div class="form-group">
    <label>{{localize name}}</label>
    <div class="form-fields">
      <input type="color" value="{{value}}" data-edit="sheetColors.{{id}}">
      <input type="text" name="sheetColors.{{id}}" value="{{value}}" placeholder="{{placeholder}}">
    </div>
    <p class="notes">{{localize hint}}</p>
  </div>
  {{/each}}

  <h2>{{localize "ZHELL.SettingsMenuRarityColorsName"}}</h2>
  {{#each rarityColors}}
  <div class="form-group">
    <label>{{localize name}}</label>
    <div class="form-fields">
      <input type="color" value="{{value}}" data-edit="rarityColors.{{id}}">
      <input type="text" name="rarityColors.{{id}}" value="{{value}}" placeholder="{{placeholder}}">
    </div>
  </div>
  {{/each}}

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>
</form>
