<form>
  {{#each settings}}
  <div class="form-group">
    <label for="{{id}}">{{localize name}}</label>
    <div class="form-fields">
      <input type="checkbox" name="{{id}}" id="{{id}}" {{checked checked}}>
    </div>
    <p class="notes">{{localize hint}}</p>
  </div>
  {{/each}}

  <header>
    <button type="submit">
      <i class="fa-solid fa-save"></i> {{localize "Save"}}
    </button>
  </header>
</form>
