<form>

  <div class="form-group">
    <label>Gems</label>
    <div class="form-fields">
      <select name="gems.selected">
        {{selectOptions context.gems selected=model.gems.selected}}
      </select>
    </div>
    <button type="button" data-action="roll" data-type="gems">
      <i class="fa-solid fa-dice-d20"></i> Roll
    </button>
  </div>

  <div class="form-group">
    <label>Treasures</label>
    <div class="form-fields">
      <select name="treasures.selected">
        {{selectOptions context.treasures selected=model.treasures.selected}}
      </select>
    </div>
    <button type="button" data-action="roll" data-type="treasures">
      <i class="fa-solid fa-dice-d20"></i> Roll
    </button>
  </div>

  <div class="form-group">
    <label>Currencies</label>
    <div class="form-fields">
      <label for="currencies.allowElectrum" class="sep">Allow EP?</label>
      <input type="checkbox" name="currencies.allowElectrum" id="currencies.allowElectrum" {{checked model.currencies.allowElectrum}}>
      <select name="currencies.selected">
        {{selectOptions context.currencies selected=model.currencies.selected}}
      </select>
    </div>
    <button type="button" data-action="roll" data-type="currencies">
      <i class="fa-solid fa-dice-d20"></i> Roll
    </button>
  </div>

  <div class="form-group">
    <label>Bars</label>
    <div class="form-fields"></div>
    <button type="button" data-action="roll" data-type="bars">
      <i class="fa-solid fa-dice-d20"></i> Roll
    </button>
  </div>

  <div class="form-group">
    <label>Spices</label>
    <div class="form-fields"></div>
    <button type="button" data-action="roll" data-type="spices">
      <i class="fa-solid fa-dice-d20"></i> Roll
    </button>
  </div>

  <footer>
    <button type="button" data-action="submit">
      <i class="fa-solid fa-chess-queen"></i> Loot!
    </button>
  </footer>


  <h2>Loot Amassed</h2>
  <section class="loot">
    {{#unless (or currencies.length items.length)}}
    <p><em>No loot yet...</em></p>
    {{/unless}}

    {{#each currencies}}
    <p class="currency">{{label}}: {{amount}}</p>
    {{/each}}

    {{#if (and currencies.length items.length)}}<hr>{{/if}}

    {{#each items}}
    <p class="item">
      <a data-action="render" data-uuid="{{item.uuid}}">{{item.name}}</a> ({{quantity}} <i class="fa-solid fa-times"></i> {{label}})
    </p>
    {{/each}}
  </section>

</form>
