{{#if active}}
<div class="bar active">
  <div class="bars">
    <span class="progress tempmax" style="background-color: {{colors.tempmax}}; width: {{tempMaxPct}}%;"></span>
    <span class="progress hp" style="background-color: {{hpColor}}; width: {{hp.pct}}%;"></span>
    <span class="progress temp" style="background-color: {{colors.temp}}; width: {{tempPct}}%;"></span>
  </div>
  <span class="name">{{actor.name}}</span>
  <section class="effects">
    <ul>
      {{#each effects}}{{{this}}}{{/each}}
    </ul>
  </section>
</div>
{{else}}
<div></div>
{{/if}}
