<section class="standard-form">
  <ul class="recipes-list scrollable separated-list">
    <div class="drop-area">{{localize "ZHELL.CRAFTING.RECIPES.dropItemsHere"}}</div>
    {{#if ctx.recipes.length}}
    {{#each ctx.recipes as |v idx|}}
    <li class="form-group" data-idx="{{idx}}">
      <div class="form-fields">
        {{{dnd5e-linkForUuid uuid}}}
        {{formGroup @root.ctx.fields.resources label=@root.ctx.labels.resources value=v.resources name=(concat idx ".resources") classes="label-top slim"}}
        {{formGroup @root.ctx.fields.quantity label=@root.ctx.labels.quantity value=v.quantity name=(concat idx ".quantity") classes="label-top slim"}}
        <button type="button" class="unbutton control-button" data-action="removeRecipe">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
    </li>
    {{/each}}
    {{/if}}
  </ul>
</section>
